.writer {
  border: 2px solid white;
  border-top: 25px solid white;
  background-color: black;
  color: white;
  cursor: all-scroll;
  height: 500px;
  width: 500px;
  padding: 5px;
  top: 0;
  left:0;
  position: absolute;
  overflow-x: auto;
  z-index: 3;
  
}
